@font-face {
    font-family: 'National Park';
    src: url('/national-park-webfont/NationalPark-Thin.woff') format('woff');
}

@font-face {
  font-family: 'National Park Heavy';
  src: url('/national-park-webfont/NationalPark-Heavy.woff') format('woff');
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'National Park', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
  overflow: hidden;
}
