/* global variables */
:root {
    --white: rgb(230, 230, 255);
    --grey: rgb(169, 169, 189);
    --backgroundBlue: #02162c;
    --offBlue: #032141;
}

/* -------------------- ENTIRE PAGE -------------------- */
@media screen and (min-width: 1024px) {
    .Page3 {
        width: 100%;
        overflow: hidden;
    }
    
    .page3Contain {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 12vh;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--white);
    }
    
    .page3text {
        display: flex;
        flex-direction: row;
    }
    
    /* ---------- LEFT SIDE ---------- */
    .leftSide {
        margin: 0;
        width: 30%;
        height: 100%;
        position: fixed;
    } 
}
@media screen and (max-width: 1023px) {
    .Page3 {
        width: 100%;
        overflow: hidden;
    }
    
    .page3Contain {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2vh;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--white);
    }
    
    .page3text {
        display: flex;
        flex-direction: column;
    }
}
/* affects the color behind the webpage (for overscroll) */
html {
    background-color: var(--backgroundBlue);
}

/* ---------- LEFT SIDE ---------- */
@media screen and (min-width: 1024px) {
    .leftSide {
        margin: 0;
        width: 30%;
        height: 100%;
        position: fixed;
    }  
}

@media screen and (max-width: 1023px) {
    .leftSide {
        position: relative;
        margin: 0;
        height: auto;
        width: 90%;
        margin-left: 5%;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    } 
}

/* -------------------- NAME SECTION -------------------- */
@media screen and (min-width: 2400px) {
    .nameTitle {
        margin: 0;
        margin-bottom: 10px;
        font-size: 90px;
        font-weight: 800;
        cursor: default;
    }
    .nameText {
        margin: 0;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 600;
        cursor: default;
    }
    .nameBody {
        margin: 0;
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
    .colorChange {
        transition: ease-in-out 0.3s;
        margin: 0;
        font-size: 30px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    .nameTitle {
        margin: 0;
        margin-bottom: 10px;
        font-size: 45px;
        font-weight: 800;
        cursor: default;
    }
    .nameText {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: default;
    }
    .nameBody {
        margin: 0;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
    .colorChange {
        transition: ease-in-out 0.3s;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
}
@media screen and (max-width: 1023px) {
    .nameTitle {
        margin: 0;
        margin-bottom: 20px;
        font-size: 40px;
        height: 30px;
        font-weight: 800;
        cursor: default;
    }
    .nameText {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: default;
    }
    .nameBody {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
    .colorChange {
        transition: ease-in-out 0.3s;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
        cursor: default;
    }
}

/* word color change on hover */
.colorChange:hover {
    transition: ease-in-out 0.3s;
    color: var(--white);
}

/* -------------------- NAVBAR SECTION -------------------- */
@media screen and (min-width: 2400px) {
    .navbar {
        margin: 0;
        margin-top: 20%;
    }
    
    .navButton {
        position: relative;
        transition: ease-in-out .2s;
        width:fit-content;
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        border: 0;
        color: var(--grey);
    }
    
    .navButton b {
        position: fixed;
        margin: 0;
        transition: ease-in-out .2s;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }
    
    .navButton b:hover {
        position: fixed;
        transition: ease-in-out .2s;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
    
    .navButton:hover {
        position: relative;
        transition: ease-in-out .2s;
        width: auto;
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        border: 0;
        color: var(--white);
        cursor: pointer;
    }
    
    .navButtonLine {
      position: relative;
      top: 60px;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-left: 10px;
      height: 60px;
      width: 1px;
      background-color: var(--grey);
      transition: width 0.3s ease-in-out;
      cursor: default;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px){
    .navbar {
        margin: 0;
        margin-top: 80px;
    }
    
    .navButton {
        position: relative;
        transition: ease-in-out .2s;
        width:fit-content;
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        border: 0;
        color: var(--grey);
    }
    
    .navButton b {
        position: fixed;
        margin: 0;
        transition: ease-in-out .2s;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    
    .navButton b:hover {
        position: fixed;
        transition: ease-in-out .2s;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: 700;
    }
    
    .navButton:hover {
        position: relative;
        transition: ease-in-out .2s;
        width: auto;
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        border: 0;
        color: var(--white);
        cursor: pointer;
    }
    
    .navButtonLine {
      position: relative;
      top: 15px;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-left: 10px;
      height: 30px;
      width: 1px;
      background-color: var(--grey);
      transition: width 0.3s ease-in-out;
      cursor: default;
    }
}
@media screen and (max-width: 1023px) {
    .navbar {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .navButton {
        display: none;
    }
}

/* -------------------- SOCIAL LINKS SECTION -------------------- */
@media screen and (min-width: 2400px) {
    .logo {
        width: 60px;
        height: 60px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        margin-right: 30px;
        border-radius: 12.5px;
        opacity: 70%;
    }
    
    .logo:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
    
    /* social logos container */
    .socialLogo {
        position: fixed;
        bottom: 12vh;
        display: flex;
        flex-direction: row;
    }

    .resumeButton {
        width: 75px;
        color: var(--backgroundBlue);
        background-color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        height: 30px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        margin-right: 30px;
        border-radius: 12.5px;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }

    .resumeButton:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-right: 15px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    .logo {
        width: 30px;
        height: 30px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        margin-right: 15px;
        border-radius: 12.5px;
        opacity: 70%;
    }
    
    .logo:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-right: 15px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
    
    /* social logos container */
    .socialLogo {
        position: fixed;
        bottom: 12vh;
        display: flex;
        flex-direction: row;
    }

    .resumeButton {
        width: 75px;
        color: var(--backgroundBlue);
        background-color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        height: 30px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        margin-right: 30px;
        border-radius: 12.5px;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }

    .resumeButton:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-right: 15px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
}
@media screen and (max-width: 1023px) {
    .logo {
        width: 30px;
        height: 30px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        margin-right: 15px;
        border-radius: 12.5px;
        opacity: 70%;
    }
    
    .logo:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-right: 15px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
    
    /* social logos container */
    .socialLogo {
        display: flex;
        flex-direction: row;
    }

    .resumeButton {
        width: 75px;
        color: var(--backgroundBlue);
        background-color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        height: 30px;
        transition: ease-in-out .3s;
        margin-top: 5px;
        border-radius: 12.5px;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }

    .resumeButton:hover {
        transition: ease-in-out .3s;
        margin-top: 2px;
        margin-bottom: 3px;
        border-radius: 12.5px;
        opacity: 100%;
        cursor: pointer;
    }
}

/* -------------------- RIGHT SIDE OF PAGE -------------------- */
@media screen and (min-width: 1024px) {
    .rightSide {
        margin: 0;
        width: 60%;
        position: relative;
        left: 40%;
    }
}

@media screen and (max-width: 1023px) {
    .rightSide {
        margin: 0;
        width: 90%;
        position: relative;
        left: 5%;
    }
}


/* -------------------- ABOUT ME -------------------- */
@media screen and (min-width: 2400px) {
    .aboutMe {
        margin: 0;
        margin-bottom: 10vh;
    }
    
    .aboutMeText {
        margin: 0;
        font-size: 40px;
        font-weight: 500;
        color: var(--grey);
    }
    
    /* coloring emphasised words */
    .aboutMeTextColor {
        margin: 0;
        font-size: 40px;
        font-weight: 500;
        color: var(--white);
    } 
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    .aboutMe {
        margin: 0;
        margin-bottom: 10vh;
    }
    
    .aboutMeText {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--grey);
    }
    
    /* coloring emphasised words */
    .aboutMeTextColor {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
    }
}
@media screen and (max-width: 1023px) {
    .aboutMe {
        margin: 0;
        margin-bottom: 10vh;
    }
    
    .aboutMeText {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
    
    /* coloring emphasised words */
    .aboutMeTextColor {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
    }
}

/* -------------------- EXPERIANCE -------------------- */
@media screen and (min-width: 2400px) {
    .experiance {
        margin: 0;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }
    
    /* each experiance card */
    .experianceCard {
        transition: ease-in-out .2s;
        margin: 0;
        margin-bottom: 2vh;
        padding: 15px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
    }
    
    .experianceCard:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
    }
    
    /* section subheading container */
    .subheadTitleContain {
        margin: 0;
        margin-bottom: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    /* section subheadings */
    .subheadTitle {
        margin: 0;
        font-size: 50px;
    }
    
    .subheadLine {
        width: 100%;
        height: 1px;
        background-color: var(--grey);
        margin-left: 5%;
        margin-right: 5%;
        align-self: center;
    }
    
    /* dates of work */
    .timeline {
        width: 22%;
        font-size: 20px;
        font-weight: 300;
        color: var(--grey);
        margin: 0;
        padding-top: 15px;
    }
    
    /* experiance text */
    .textContain {
        width: 78%;
        color: var(--white);
    }
    
    .textContain h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 500;
    }
    
    .textContain h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
        color: var(--grey);
    }
    
    .textContain p {
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        color: var(--grey);
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    .experiance {
        margin: 0;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }
    
    /* each experiance card */
    .experianceCard {
        transition: ease-in-out .2s;
        margin: 0;
        margin-bottom: 2vh;
        padding: 15px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
    }
    
    .experianceCard:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
    }
    
    /* section subheading container */
    .subheadTitleContain {
        margin: 0;
        margin-bottom: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    /* section subheadings */
    .subheadTitle {
        margin: 0;
        font-size: 30px;
    }
    
    .subheadLine {
        width: 100%;
        height: 1px;
        background-color: var(--grey);
        margin-left: 5%;
        margin-right: 5%;
        align-self: center;
    }
    
    /* dates of work */
    .timeline {
        width: 22%;
        font-size: 12px;
        font-weight: 300;
        color: var(--grey);
        margin: 0;
        padding-top: 10px;
    }
    
    /* experiance text */
    .textContain {
        width: 78%;
        color: var(--white);
    }
    
    .textContain h2 {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
    }
    
    .textContain h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        color: var(--grey);
    }
    
    .textContain p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        color: var(--grey);
    }
}
@media screen and (max-width: 1023px) {
    .experiance {
        margin: 0;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }
    
    /* each experiance card */
    .experianceCard {
        transition: ease-in-out .2s;
        margin: 0;
        margin-bottom: 2vh;
        padding: 15px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
    }
    
    .experianceCard:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
    }
    
    /* section subheading container */
    .subheadTitleContain {
        margin: 0;
        margin-bottom: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    /* section subheadings */
    .subheadTitle {
        margin: 0;
    }
    
    .subheadLine {
        width: 100%;
        height: 1px;
        background-color: var(--grey);
        margin-left: 5%;
        margin-right: 5%;
        align-self: center;
    }
    
    /* dates of work */
    .timeline {
        width: 20%;
        font-size: 12px;
        font-weight: 300;
        color: var(--grey);
        margin: 0;
        margin-right: 5px;
        padding-top: 4px;
    }
    
    /* experiance text */
    .textContain {
        width: 78%;
        color: var(--white);
    }
    
    .textContain h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
    }
    
    .textContain h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
        color: var(--grey);
    }
    
    .textContain p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: var(--grey);
    }
}

/* -------------------- PROJECTS -------------------- */
@media screen and (min-width: 2400px) {
    /* container for project tab */
    .projectContainer {
        width: 100%;
        margin: 0; 
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }

    /* each project card container */
    .projectCard {
        margin-bottom: 2vh;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
    }

    /* picture container */
    .leftSidePic {
        display: flex;
        width: 50%;
        height: auto;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    .rightSidePic {
        display: flex;
        width: 50%;
        height: auto;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    /* project picture */
    .projectPic {
        transition: ease-in-out .3s;
        width: 100%;
        border-radius: 10px;
        opacity: 70%;
    }

    .projectPic:hover {
        transition: ease-in-out .3s;
        border-radius: 10px;
        opacity: 100%;
        cursor: pointer;
    }

    /* container for all project text */
    .rightSideText {
        direction: rtl; /* this is to overflow to the left */
        text-align: center;
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
    }

    .leftSideText {
        direction: ltr; 
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 2;
        cursor: default;
        justify-content: center;
    }

    .projectTypeL {
        margin: 0;
        align-self: center;
        font-size: 15px;
        font-weight: 300;
        color: var(--grey);
    }

    /* title of project */
    .projectTitle {
        margin: 0;
        font-size: 50px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;
    }

    .projectTitleL {
        margin: 0;
        font-size: 50px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;

    }

    /* description of projects */
    .projectText {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectTextL {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectText b {
        font-size: 30px;
        font-weight: 300;
    }

    .projectTextL b {
        font-size: 30px;
        font-weight: 300;
    }

    /* coding types subtext */
    .codingTypes {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .codingTypes b {
        transition: ease-in-out .3s;
        font-size: 30px;
        font-weight: 300;
        margin-right: 30px;
        text-align: center;
        color: var(--grey);
    }

    .codingTypes b:hover {
        transition: ease-in-out .3s;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        color: var(--white);
    }

    /* social links */
    .socialLinkContain {
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: row;
    }

    .socialLink {
        transition: ease-in-out .3s;
        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-right: 30px;
        border-radius: 12.5px;
        opacity: 70%;
    }

    .socialLink:hover {
        transition: ease-in-out .3s;
        margin-top: 5px;
        border-radius: 12.5px;
        cursor: pointer;
        opacity: 100%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    /* container for project tab */
    .projectContainer {
        width: 100%;
        margin: 0; 
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }

    /* each project card container */
    .projectCard {
        margin-bottom: 2vh;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
    }

    /* picture container */
    .leftSidePic {
        display: flex;
        width: 50%;
        height: auto;
        justify-content: center;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    .rightSidePic {
        display: flex;
        width: 50%;
        height: auto;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    /* project picture */
    .projectPic {
        transition: ease-in-out .3s;
        width: 100%;
        border-radius: 10px;
        opacity: 70%;
    }

    .projectPic:hover {
        transition: ease-in-out .3s;
        border-radius: 10px;
        opacity: 100%;
        cursor: pointer;
    }

    /* container for all project text */
    .rightSideText {
        direction: rtl; /* this is to overflow to the left */
        text-align: center;
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
    }

    .leftSideText {
        direction: ltr; 
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 2;
        cursor: default;
        justify-content: center;
    }

    .projectTypeL {
        margin: 0;
        align-self: center;
        font-size: 15px;
        font-weight: 300;
        color: var(--grey);
    }

    /* title of project */
    .projectTitle {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;
    }

    .projectTitleL {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;

    }

    /* description of projects */
    .projectText {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);

        padding: 10px;
    }

    .projectTextL {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectText b {
        font-size: 15px;
        font-weight: 300;
    }

    .projectTextL b {
        font-size: 15px;
        font-weight: 300;
    }

    /* coding types subtext */
    .codingTypes {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .codingTypes b {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        color: var(--grey);
    }

    .codingTypes b:hover {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        color: var(--white);
    }

    /* social links */
    .socialLinkContain {
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: row;
    }

    .socialLink {
        transition: ease-in-out .3s;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-right: 15px;
        border-radius: 12.5px;
        opacity: 70%;
    }

    .socialLink:hover {
        transition: ease-in-out .3s;
        margin-top: 5px;
        border-radius: 12.5px;
        cursor: pointer;
        opacity: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   /* container for project tab */
    .projectContainer {
        width: 100%;
        margin: 0; 
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }

    /* each project card container */
    .projectCard {
        margin-bottom: 2vh;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* picture container */
    .leftSidePic {
        width: 50%;
        height: 50%;
        z-index: 1;
    }

    .rightSidePic {
        width: 50%;
        height: 50%;
        z-index: 1;
    }

    /* project picture */
    .projectPic {
        transition: ease-in-out .3s;
        width: 100%;
        border-radius: 10px;
        opacity: 70%;
    }

    .projectPic:hover {
        transition: ease-in-out .3s;
        border-radius: 10px;
        opacity: 100%;
        cursor: pointer;
    }

    /* container for all project text */
    .rightSideText {
        direction: rtl; /* this is to overflow to the left */
        text-align: center;
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
    }

    .leftSideText {
        direction: ltr; 
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 2;
        cursor: default;
        justify-content: center;
    }

    .projectTypeL {
        margin: 0;
        align-self: center;
        font-size: 15px;
        font-weight: 300;
        color: var(--grey);
    }

    /* title of project */
    .projectTitle {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;
    }

    .projectTitleL {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;

    }

    /* description of projects */
    .projectText {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectTextL {
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectText b {
        font-size: 15px;
        font-weight: 300;
    }

    .projectTextL b {
        font-size: 15px;
        font-weight: 300;
    }

    /* coding types subtext */
    .codingTypes {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .codingTypes b {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        color: var(--grey);
    }

    .codingTypes b:hover {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        color: var(--white);
    }

    /* social links */
    .socialLinkContain {
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: row;
    }

    .socialLink {
        transition: ease-in-out .3s;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 12.5px;
        opacity: 70%;
    }

    .socialLink:hover {
        transition: ease-in-out .3s;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 12.5px;
        cursor: pointer;
        opacity: 100%;
    } 
}
@media screen and (max-width: 767px) {
    /* container for project tab */
    .projectContainer {
        width: 100%;
        margin: 0; 
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }

    /* each project card container */
    .projectCard {
        width: 100%;
        margin-bottom: 2vh;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* picture container */
    .leftSidePic {
        display: none;
    }

    .rightSidePic {
        display: none;
    }

    /* project picture */
    .projectPic {
        display: none;
    }

    .projectPic:hover {
        display: none;
    }

    /* container for all project text */
    .rightSideText {
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
        text-align: center;
    }

    .leftSideText {
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: default;
        justify-content: center;
        text-align: center;
    }

    .projectTypeL {
        margin: 0;
        align-self: center;
        font-size: 15px;
        font-weight: 300;
        color: var(--grey);
    }

    /* title of project */
    .projectTitle {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;
    }

    .projectTitleL {
        margin: 0;
        font-size: 25px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 5px;
        text-align: center;
    }

    /* description of projects */
    .projectText {
        margin: 0;
        width: 95%;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectTextL {
        margin: 0;
        width: 95%;
        border-radius: 10px;
        background-color: var(--offBlue);
        padding: 10px;
    }

    .projectText b {
        font-size: 15px;
        font-weight: 300;
    }

    .projectTextL b {
        font-size: 15px;
        font-weight: 300;
    }

    /* coding types subtext */
    .codingTypes {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .codingTypes b {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        color: var(--grey);
    }

    .codingTypes b:hover {
        transition: ease-in-out .3s;
        font-size: 15px;
        font-weight: 300;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        color: var(--white);
    }

    /* social links */
    .socialLinkContain {
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: row;
    }

    .socialLink {
        transition: ease-in-out .3s;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 12.5px;
        opacity: 70%;
    }

    .socialLink:hover {
        transition: ease-in-out .3s;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 12.5px;
        cursor: pointer;
        opacity: 100%;
    } 
}

/* -------------------- LANGUAGES -------------------- */
@media screen and (min-width: 2400px) {
    .languagesContainer {
        margin: 0;
    }
    
    .languageLogoContainer {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 225px);
        grid-template-columns: repeat(4, 25%);
        justify-items: center;
    }
    
    .languageLogo {
        z-index: 2;
        margin: 0;
        width: 200px;
        height: 200px;
    }
    
    .gitLinkContainer {
        display: flex;
        margin: 0;
        width: 100%;
        margin-bottom: 5vh;
        justify-content: center;
        align-items: center;
    }
    
    .gitLink {
        display: flex;
        transition: ease-in-out .2s;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
        color: var(--white);
        text-decoration: none;
        font-size: 30px;
    }
      
    .gitLink:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
        cursor: pointer;
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px) {
    .languagesContainer {
        margin: 0;
    }
    
    .languageLogoContainer {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 175px);
        grid-template-columns: repeat(4, 25%);
        justify-items: center;
    }
    
    .languageLogo {
        z-index: 2;
        margin: 0;
        width: 125px;
        height: 125px;
    }
    
    .gitLinkContainer {
        display: flex;
        margin: 0;
        width: 100%;
        margin-bottom: 5vh;
        justify-content: center;
        align-items: center;
    }
    
    .gitLink {
        display: flex;
        transition: ease-in-out .2s;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
        color: var(--white);
        text-decoration: none;
        font-size: 15px;
    }
    
    .gitLink:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
        cursor: pointer;
    }
}
@media screen and (max-width: 1023px) {
    .languagesContainer {
        margin: 0;
    }
    
    .languageLogoContainer {
        margin: 0;
        margin-bottom: 8vh;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 75%);
        grid-template-columns: repeat(4, 25%);
        justify-items: center;
    }
    
    .languageLogo {
        z-index: 2;
        margin: 0;
        width: 75%;
        height: auto;
    }
    
    .gitLinkContainer {
        display: flex;
        margin: 0;
        width: 100%;
        margin-bottom: 5vh;
        justify-content: center;
        align-items: center;
    }
    
    .gitLink {
        display: flex;
        transition: ease-in-out .2s;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0); 
        color: var(--white);
        text-decoration: none;
    }
    
    .gitLink:hover {
        transition: ease-in-out .2s;
        background-color: rgba(255, 255, 255, 0.05);
        border-top-style: solid;
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.1); 
        cursor: pointer;
    }
}

/* -------------------- CONTACT ME ------------------- */
@media screen and (min-width: 2400px){
    .contactContainer {
        width: 100%;
        margin: 0;
        margin-bottom: 5vh;
    }

    .contactHeaderText {
        width: 100%;
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contactHeaderText b {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
}
@media screen and (min-width: 1024px) and (max-width: 2400px){
    .contactContainer {
        width: 100%;
        margin: 0;
        margin-bottom: 5vh;
    }

    .contactHeaderText {
        width: 100%;
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contactHeaderText b {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
}
@media screen and (max-width: 1023px){
    .contactContainer {
        width: 100%;
        margin: 0;
        margin-bottom: 5vh;
    }

    .contactHeaderText {
        width: 100%;
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .contactHeaderText b {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: var(--grey);
    }
}